<section class="user">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 order-md-2">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link active" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
      </div>
      <div class="col-md-8 col-sm-12 order-md-1 bg-success">
        area
      </div>
    </div>
  </div>
</section>
