<div class="container">
  <div class="row justify-content-center">
    <div class="text-center mt-3 mb-3">
      <div class="card shadow-sm" style="max-width: 25rem;">
        <div class="card-body">
          <form class="form-signin">
            <img class="mb-4" src="https://dummyimage.com/80px80/000/fff" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
            <div class="form-group">
              <label for="inputEmail" class="sr-only">Endereço de email</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Seu email" required="" autofocus="">
            </div>
            <div class="form-group">
              <label for="inputPassword" class="sr-only">Senha</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="">
            </div>
            <div class="form-group">
              <label for="inputPassword" class="sr-only">Confirmar Senha</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Confirmar Senha" required="">
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> <a href="#" class="text-info"
                  style="text-decoration: none;">Aceito os termos</a>
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">© Nome empresa</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
