<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Nome da companhia</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/']" [routerLinkActive]="['active']">Inicio</a>
    <a class="p-2 text-dark" [routerLink]="['/cardapio']" [routerLinkActive]="['active']">Cardapio</a>
    <a class="p-2 text-dark" [routerLink]="['/contato']" [routerLinkActive]="['active']">Contato</a>
    <!-- <a class="p-2 text-dark" [routerLink]="['#']" [routerLinkActive]="['active']">Preços</a> -->
  </nav>
  <a class="btn btn-outline-success mr-2" [routerLink]="['/entrar']" [routerLinkActive]="['active']">Entrar</a>
  <a class="btn btn-outline-primary" [routerLink]="['/cadastro']" [routerLinkActive]="['active']">Cadastrar</a>
</div>
