<section _ngcontent-pof-c49="" class="footer bg-light p-4" style="min-height: 300px;">
  <div _ngcontent-pof-c49="" class="container h-100 justify-content-center align-items-center">
    <div _ngcontent-pof-c49="" class="row h-100 justify-content-center align-items-start" style="padding-top: 8%;">
      <div _ngcontent-pof-c49="" class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><img _ngcontent-pof-c49=""
          src="https://dummyimage.com/269x190/000/fff" alt="logo"></div>
      <div _ngcontent-pof-c49="" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <ul _ngcontent-pof-c49="">
          <li _ngcontent-pof-c49="">Rua Lorem ipsum dolor, 4242</li>
          <li _ngcontent-pof-c49="">Lorem Dolor</li>
          <li _ngcontent-pof-c49="">18000222 São Paulo - SP</li>
        </ul>
        <ul _ngcontent-pof-c49="">
          <li _ngcontent-pof-c49="">SAC (11)99999-9999</li>
          <li _ngcontent-pof-c49="">CNPJ 22.333.444/0001-55</li>
        </ul>
      </div>
      <div _ngcontent-pof-c49="" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <ul _ngcontent-pof-c49="">
          <li _ngcontent-pof-c49="">Entre em contato</li>
          <li _ngcontent-pof-c49="">email@email.com</li>
        </ul>
      </div>
    </div>
  </div>
</section>
